.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0D1A29, #173A53, #09548a);
  color: 	#F1E99D;
}

.animated-title {
  font-size: 8rem;
  font-family: dancing script;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animated-letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(60px);
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.loader-container {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: linear-gradient(275deg #0D1A29, #173A53, #235E7C);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.loader-bar-wrapper {
  width: 100vw;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loader-bar {
  height: 2px;
  background: linear-gradient(270deg, #F1E99D, #faeb64);
  border-radius: 4px;
  transition: width 0.1s linear;
  width: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loader-text {
  position: absolute;
  right: 0;
  top: -38px;
  font-size: 2.2rem;
  color: #F1E99D;
  font-weight: 800;
  font-family: dancing script;
  letter-spacing: 0.03em;
  background: none;
  padding-right: 8px;
} 